* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: #0094ff;
  font-family: 'Roboto', sans-serif;
}
input {
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #102250;
}
.modal {
  width: 400px;
  border-radius: 7px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 32px 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__title {
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 34px;
  letter-spacing: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
}
.modal__select-country,
.modal__pass-input,
.modal__mail-input,
.modal__name-input {
  line-height: 50px;
  padding-left: 18px;
  background: #f5f8fa 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  position: relative;
  border: none;
  width: 100%;
  /* z-index: -1; */
}
.modal__pass-input,
.modal__mail-input {
  padding-left: 54px;
}
.modal__select-country,
.modal__accept,
.modal__sex-wrap,
.modal__pass-input-wrapper,
.modal__name-input-wrapper,
.modal__mail-input-wrapper {
  position: relative;
  margin-bottom: 29px;
}
.modal__mail-input-wrapper::before {
  content: url(mail.svg);
  position: absolute;
  z-index: 5;
  display: block;
  top: 50%;
  left: 18px;
  transform: translate(0, -40%);
}
.modal__pass-input-wrapper::before {
  content: url(pass.svg);
  position: absolute;
  z-index: 5;
  display: block;
  top: 50%;
  left: 18px;
  transform: translate(0, -50%);
}
.modal__sex-wrap {
  display: flex;
  align-items: center;
}
.modal__sex-wrap p:not(:last-child) {
  margin-right: 25px;
}
.modal__accept input,
.modal__sex-wrap input {
  margin-right: 8px;
}
.modal__accept {
  display: flex;
  align-items: center;
  margin-bottom: 37px;
}
.modal__button {
  background: #0094ff 0% 0% no-repeat padding-box;
  border-radius: 31px;
  width: 100%;
  display: flex;
  position: relative;
  min-height: 62px;
  align-items: center;
  justify-content: center;
  margin-bottom: 21px;
  text-align: left;
  font: normal normal normal 18px/22px Roboto;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  outline: none;
  border: none;
  padding: 20px 0;
}

.modal__button:hover {
  cursor: pointer;
  background-color: #0087e7;
}
.gray {
  background: #a2a2a2 0% 0% no-repeat padding-box;
  cursor: initial;
  pointer-events: none;
}
.gray:hover {
  background: #a2a2a2 0% 0% no-repeat padding-box;
  cursor: initial;
}
.select-country {
  margin-bottom: 28px;
}
.select-country:hover {
  cursor: pointer;
}
.select-country::after {
  content: url(arrow.svg);
  display: block;

  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  pointer-events: none;
  transition: 0.5s all ease;
}
.rotate.select-country::after {
  transform: translate(0, -50%) rotate(180deg);
}
.select-country__list {
  display: none;
  list-style: none;
  position: absolute;
  left: 0;
  top: 110%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 8px #00000026;
  border-radius: 8px;
  opacity: 1;
  width: 100%;
  max-height: 200px;
  overflow: auto;
}
.visible {
  display: block;
  z-index: 1;
}
.select-country__item {
  padding: 0 0 0 18px;
  width: 100%;
}
.select-country__item:hover {
  background: #f5f8fa;
  cursor: pointer;
}
.error-message {
  text-align: left;
  font: normal normal normal 10px/13px Roboto;
  letter-spacing: 0px;
  color: #e82828;
  position: absolute;
  bottom: -15px;
  left: 20px;
}

/* loading spinner */

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  top: -10px;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
